aiodns==1.1.1
pathlib==1.0.1
aiohttp==3.0.1
asn1crypto==0.24.0
async-timeout==2.0.0
attrs==17.4.0
cchardet==2.1.1
ccxt==1.11.50
certifi==2018.1.18
cffi==1.11.4
cfscrape==1.9.4
chardet==3.0.4
conda==4.4.10
cryptography==2.1.4
idna==2.6
idna-ssl==1.0.1
multidict==4.1.0
numpy==1.22.0
pandas==0.22.0
psycopg2==2.7.4
pycares==2.3.0
pycosat==0.6.3
pycparser==2.18
PyExecJS==1.5.1
pyOpenSSL==17.5.0
PySocks==1.6.7
python-dateutil==2.6.1
pytz==2018.3
requests==2.18.4
ruamel-yaml==0.15.35
six==1.11.0
urllib3==1.22
yarl==1.1.0
